<!DOCTYPE html>
<html>
	<head>
			<title>Register</title>
			<meta charset="utf-8">
		  <meta name="viewport" content="width=device-width, initial-scale=1">
		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
					<link rel="stylesheet" href="https://cdn.plyr.io/3.5.10/plyr.css" />   
		   <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
		   <script src="//code.jquery.com/jquery-1.10.2.js"></script>
		   <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>   
		   <script src="https://cdn.plyr.io/3.5.10/plyr.js"></script>
		   <script src="https://cdn.plyr.io/3.5.10/plyr.polyfilled.js"></script>
	</head>

	<body>
		{% block content %}

			  <center><h2>Sign up</h2></center>

			  <form method="post" id="register">

				    {% csrf_token %}
					  
				
				<div id ="fstname">
					
					<label>First Name</label>

					{{form.first_name}}
					
				 </div>

			<br>
				
				<div id ="lstname">
					
					<label>Last Name</label>

					{{form.last_name}}

				 </div>
		 <br>
				
				<div id ="email">
					
					<label>Email ID </label>

					{{form.email}}
					
					<p>{{form.email.errors}}</p>

				 </div>
			
		
				
				<div id ="password1">
					
					<label>Password</label>

					{{form.password}}
					
					<p>{{form.password.errors}}</p>
					
				 </div>
		 	
				    
			</div>	    

			<button style="margin-left: 100px" type="submit">Register</button>

			  </form>

		{% endblock %}

	</body>


</html>